* {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}


body {
  margin:0;
  font-family: "Poppins", sans-serif;
  color: #4d4f62;
  background-color: azure;
}

.header {
  width: 311px;
  margin: 85px auto 76px;
  text-align: center;
}

@media screen and (min-width 768px) {
  .header {
    width: ;
  }
  
}


.title-semibold, .title-extralight{
  font-size: 1.5rem;
  margin-block: 0;
}

.title-extralight {
  font-weight: 200;
}

.text {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  color: rgb (77 79 98 / 0.6)
}

@media screen and (width >- 768px) {

  .title-semibold, .title-extralight {
    font-size: 2.25rem;
  }
  
}

.main {
  width: 311px;
  margin-inline: auto;
}

@media screen and (width >-768px) {

  .main {
    width: 1110px;
  }
  
}

.card {
  width: 311px;
  height: 222px;
  box-shadow: 0 15px 30px -11px rgb(131 166 210/0.5);
  padding: 28px;
  border-radius: 0.5rem;
  text-align: auto;
}

.card-title, .card-text {
 margin-block: 0;
}

.card-title {
  font-size: 1.25rem;
  font-weight: 600;
}

.card-text {
  font-size: 0.8125rem;
  color: rgb(77, 79, 98 / 0.6);
}

.card-icon {
  position: absolute;
  width: 57px;
  height: 57px;
  bottom: 28px;
  right: 28px;
}
.card-cian {
  border-top: 4px solid #00C8C8
}

.card-red {
  border-top: 4px solid #FF637B;
}

.card-yellow {
  border-top: 4px solid yellow
}

.card-blue {
  border-top:4px solid blue;
}

@media screen and (min width 768px) {


  
}